PORT=3000
DATA_DIR=./data
UPLOAD_DIR=./uploads
PERSIST_DEBOUNCE_MS=200
BROADCAST_DEBOUNCE_MS=100
REQUEST_JSON_LIMIT=256kb
COMPRESSION_THRESHOLD_BYTES=1024
MAX_INFLIGHT_REQUESTS=800
WRITE_RATE_WINDOW_MS=10000
WRITE_RATE_MAX=120
CHECKOUT_RATE_WINDOW_MS=10000
CHECKOUT_RATE_MAX=30
UPLOAD_MAX_FILE_SIZE_MB=12
SHOP_PUBLIC_URL=https://shop.gusa.vn
IMAGE_OPTIMIZE_ENABLED=true
IMAGE_MAX_WIDTH_PX=1600
IMAGE_QUALITY=82
IMAGE_OPTIMIZE_MIN_BYTES=307200
UPLOADS_CACHE_MAX_AGE_SEC=2592000
KEEP_ALIVE_TIMEOUT_MS=60000
HEADERS_TIMEOUT_MS=65000
REQUEST_TIMEOUT_MS=120000
SOCKET_PING_INTERVAL_MS=25000
SOCKET_PING_TIMEOUT_MS=20000
SOCKET_MAX_BUFFER_BYTES=1048576
CART_SESSION_COOKIE=live_shop_sid
CART_SESSION_MAX_AGE_MS=2592000000
